/Backups
/blob_storage
/Cache
/CachedConfigurations
/CachedData
/CachedExtensions
/CachedExtensionVSIXs
/clp
/Code Cache
/code.lock
/Cookies
/Cookies-journal
/Crashpad
/databases
/Dictionaries
/GPUCache
/languagepacks.json
/Local Storage
/logs
/machineid
/Network
/Network Persistent State
/QuotaManager
/QuotaManager-journal
/rapid_render.json
/Service Worker
/Session Storage
/storage.json
/TransportSecurity
/User/globalStorage
/User/History
/User/sync
/User/workspaceStorage
/WebStorage/
Local State
Preferences
User/tasks.json
/IndexedDB
/DawnCache
/CachedProfilesData
SharedStorage
Shared Dictionary/db
Shared Dictionary/db-journal
Shared Dictionary/cache/index
Shared Dictionary/cache/index-dir/the-real-index
